@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.p {
    color: hsl(229, 6%, 66%);
    text-align: center;
    line-height: 160%;
    font-size: 1rem;
}

h1 {
    color:  hsl(234, 12%, 34%);
    font-size: 1.625rem;
    font-weight: 200;
    margin: 0;
    text-align: center;
}

h2 {
    color:  hsl(234, 12%, 34%);
    margin: 0;
}

p {
    color: hsl(229, 6%, 66%);
    line-height: 150%;
    margin-bottom: 2.5rem;
}

.container {
    width: 90%;
}

.text {
    margin-top: 5rem;
}

.two {
    color:  hsl(234, 12%, 34%);
    font-weight: 600;
    margin-top: .6rem;
}

.cards {
    margin: 6rem 0;
}

.card {
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
    box-shadow: 0 13px 21px 2px hsl(229, 6%, 66%);
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.625rem;
}

.supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media screen and (max-width: 368px) {
    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.063rem;
    }

    p {
        font-size: .813rem;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    main {
        max-height: 100vh;
    }

    h1 {
        font-size: 1.875rem;
    }

    .container {
        width: 80%;
    }

    .text {
        margin: 5rem auto;
        width: 45%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 2rem;
        margin: 0;
    }

    .supervisor {
        grid-row: 1 / 3;
    }

    .calculator {
        grid-column: 3 / 4;
        grid-row: 3 / 1;
    }

    .karma {
        grid-column: 2 / 3;
        margin-bottom: 5rem;
    }

    .team-builder {
        margin-bottom: 0;
    }
}
